@charset "utf-8";
/* CSS Document */
html, body, img {
    margin: 0;
    padding: 0;
    display: block;
    font-family: '微软雅黑';
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*菜单样式开始*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    background-size: cover;
    height: 100vh;

    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
}

h1 {
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

ul {
    list-style: none;
}

nav {
    height: 40px;
    margin: 40px auto;
    background-color: rgba(23, 23, 50, 0.7);
    text-align: center;
    border-radius: 4px;
}

.main {
    display: flex;
    justify-content: center;
}

.main > li {
    margin: 0 2%;
}

.main > li a {
    border-left: 1px solid rgba(23, 23, 50, 1);
}

a {
    text-decoration: none;
    color: #ffe;
    text-transform: capitalize;
    font-family: monospace;
    display: block;
    padding: 8px 15px 9px 15px;
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;

    font-family: "Raleway", sans-serif;
}

a:hover {
    background-color: #631818;
}

.drop li {
    opacity: 0;
    transform-origin: top center;
}

.drop li a {
    background-color: rgba(23, 23, 50, 0.7);
    padding: 10px 0;
}

/*------------- menu6 animation -------------------*/

.main li:hover .menu6 li:first-of-type {
    animation: menu6 0.3s ease-in-out forwards;
    animation-delay: 0.2s;
}

.main li:hover .menu6 li:nth-of-type(2) {
    animation: menu6 0.3s ease-in-out forwards;
    animation-delay: 0.4s;
}

.main li:hover .menu6 li:nth-of-type(3) {
    animation: menu6 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
}

.main li:hover .menu6 li:nth-of-type(4) {
    animation: menu6 0.3s ease-in-out forwards;
    animation-delay: 0.8s;
}

@keyframes menu6 {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* my button style */
.white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: sans-serif;
}

.white-mode:hover {
    background-color: #fff;
    color: #122;
}

/*菜单样式结束*/

/*选择尚德开始*/
.Choices {
    width: 100%;
    float: left;
    height: 819px;
    background: url(../images/Choices.jpg) no-repeat center;
    background-size: cover;
}

.Choices_text {
    width: 1200px;
    height: 819px;
    margin: 0 auto;
}

.Choices_head {
    width: 100%;
    float: left;
    height: 55px;
    margin-top: 50px;
    line-height: 55px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    color: #FFF;
    display: block;
    position: relative;
}

.Choices_head:before, .Choices_head:after {
    content: '';
    position: absolute;
    top: 30px;
    background: #FFF;
    width: 265px;
    height: 2px;
}

.Choices_head:before {
    left: 175px;
}

.Choices_head:after {
    right: 175px;
}

.Choices_content {
    width: 1184px;
    height: 594px;
    float: left;
    margin-left: 3px;
}

.Choicesnext {
    width: 38px;
    height: 37px;
    float: left;
    margin-left: 1136px;
    margin-top: 24px;
    cursor: pointer;
}

.Choices_banner {
    width: 1184px;
    height: 399px;
    float: left;
    margin-top: 39px;
    overflow: hidden;
}

.Choices_banner ul {
    width: 12000px;
    overflow: hidden;
}

.Choices_banner ul li {
    width: 1184px;
    height: 399px;
    float: left;
}

.Choices_left {
    width: 594px;
    height: 399px;
    float: left;
}

.Choices_right {
    width: 560px;
    height: 399px;
    float: left;
    background-color: rgba(255, 255, 255, 0.93)
}

.Choices_right h1 {
    width: 590px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    font-size: 28px;
    margin-top: 70px;
    color: #464646;
}

.Choices_right h2 {
    width: 590px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    color: #464646;
}

.Choices_right p {
    width: 450px;
    height: 70px;
    float: left;
    margin-left: 70px;
    text-align: center;
    font-size: 18px;
    color: #606060;
    margin-top: 20px;
}

.Choicesbut {
    width: 197px;
    height: 49px;
    float: left;
    border: 1px solid #bfbfbf;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 49px;
    color: #606060;
    font-size: 22px;
    margin-left: 195px;
    margin-top: 57px;
}

.Choicestel {
    width: 1184px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 36px;
    float: left;
    font-family: "Arial";
    overflow: hidden;
    color: #FFF;
    margin-top: 100px;
    -webkit-user-select: none; /*谷歌 /Chrome*/
    -moz-user-select: none; /*火狐/Firefox*/
    -ms-user-select: none; /*IE 10+*/
    user-select: none;
}

.Choicestel ul {
    width: 12000px;
    overflow: hidden;
}

.Choicestel ul li {
    width: 1184px;
    height: 38px;
    float: left;
}

/*选择尚德结束*/



